[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xcape
Comment=
Exec=trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --widthtype request --transparent true --alpha 0 --padding 6 --tint 0xff1b1e22 --height 18 --distancefrom right --distance 49
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
