[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xset
Comment=
Exec=xset -b s off -dpms r rate 200 50
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
